__pycache__/
*.pyc
*.egg-info/
dist/
build/
*.spec
venv/
.env
sendit.pyz
screenshots/
*.apk
sendit-android/.gradle/
sendit-android/app/build/
sendit-android/local.properties
sendit-android/gradle/wrapper/gradle-wrapper.jar
